.aboutus
  
  &-block

    display: flex
    flex-direction: column
    height: 250px
    text-align: center 
    justify-content: space-between
  &-text
    &__subtitle
      max-width: 600px
      margin: auto
      max-width: 80%
    &__title
      margin: auto
  &-image
    
    width: 150px
    margin: auto



  