.header
  background-image: url('../images/hero-image.jpg')
  background-position: left bottom
  background-size: auto 100%
  background-color: #dae4e6
  background-repeat: no-repeat
.hero
  &-block
    display: flex
    justify-content: flex-end
  &__title
    font-size: 38px
    margin: 0
  &__subtitle
    font-size: 18px
    max-width: 100%
  &__text
    max-width: 350px
    min-height: 200px
    height: 300px
    display: flex
    flex-direction: column
    justify-content: space-between
@media ( max-width: 1200px )
  .hero
    &__title
      font-size: 34px
      width: 320px
    &__subtitle
      font-size: 17px
    &__text
      max-width: 300px
  .header
    background-position: -150px 
@media ( max-width: 980px )
  .header
    background-image: none
  .hero
    &-block
      justify-content: flex-start
    &__title
      max-width: 293px
      font-size: 30px
    &__subtitle
      font-size: 16px
@media ( max-width: 768px )
  .hero 
    &__text
      height: 220px
      max-width: 250px
    &__title
      width: 240px
      font-size: 26px
    &__subtitle
      font-size: 13px
@media ( max-width: 560px )
  .hero
    &-block
      justify-content: flex-start
@media ( max-width: 320px )
  .hero
    &__title
      max-width: 230px
      font-size: 24px
    &__subtitle
      font-size: 11px
      max-width: 100%
    &__text
      max-width: 90%
    
  