.numbers
    background-color: #10C9C3
    color: #fff
    &-block
        display: flex
        justify-content: space-around
        
        &__item
            display: flex
            align-items: center
        &__icon
            margin-right: 20px
        &__number
            display: block
            font-size: 22px
            font-weight: 600
            margin-bottom: 5px
        &__subtitle
            display: block
            font-size: 18px