.services
  &-block
    flex-wrap: wrap
    display: flex
    &__item
      flex-basis: 25%
      
    &__icon
      margin: auto
    &__title
      display: block
      color: #1D1D1D
      font-size: 23px
      margin-bottom: 15px
      text-align: center 
    &__subtitle
      display: block
      font-size: 16px
      color: #787878
      text-align: center 