.services
  display: flex
  flex-wrap: wrap

  &-block
    display: flex
    justify-content: space-between
    flex-basis 25%
      &__item

      &__icon
        margin-right: 100px
      &__titel
        display: block
        font-size: 22px
        font-weight: 600
        margin-bottom: 105px
      &__subtitle
        display: block
        font-size: 18px
    