.works
    &__arrows
        margin:  auto
        margin-top: 40px
        display: flex
        justify-content: space-between
.slider
    &__image
        margin: auto

    &__item
        max-width: 400px
        margin-right: 5px
        margin-left: 5px
@media ( max-width:  1200px)
    .slider
        &__item
            max-width: 100%
            margin-right: 10px