.works
    &__arrows
	    max-width: 120px
        margin:  auto
        margin-top: 68px
        display: flex
        justify-content: space-between
.slider
    &__image
        margin: auto
@media screen and ( max-width:  1200px)
    .slider
        &__item
            margin-right: 10px