.video
  &-text
    text-align: center
    &__title
      font-size: 30px
      color: #191919
      margin-top: 0
      margin-bottom: 41px
    &__subtitle
      font-size: 16px
      color: #787878
  &-video
    
    &__video
      display: block
      width: 100%